Checks: >
  readability-identifier-naming,
  clang-analyzer-deadcode.DeadStores,
  unused-using-decls,
  modernize-*,
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-avoid-magic-numbers,
  cppcoreguidelines-narrowing-conversions,
  misc-unused-parameters,
  -performance-avoid-endl,
  -readability-identifier-length,
  -bugprone-unchecked-optional-access,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: "*"
HeaderFilterRegex: ""
FormatStyle: none
ExcludePaths:
  - '^.*_deps/.*'
